body {
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	font-size:14px;
	min-height:100vh;
}

:root {
	--dark1:hsl(209, 23%, 22%);
	--dark2:hsl(207, 26%, 17%);
	--light1:hsl(0, 0%, 98%);
	--light2:hsl(0, 0%, 100%);
}
.btn {
	padding:8px 10px;
	min-width:110px;
	font-size:13px;
}
.body {
	color:#444; 
}
.body.dark {
	color:#f8f8f8;
}
.header {
	background:var(--light2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	position: relative;
	z-index:1;
	padding:30px 0;
}
.body.dark .header {
	background:var(--dark1);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	position: relative;
	z-index:1;
}
.body.dark .to-dark,
.body .to-light {
	display: block
}
.body .to-dark,
.body.dark .to-light {
	display: none
}
.country-search input::before {
	content:'o';
	color:#fff;
}
input.form-control {
    width: 415px;
    padding: 10px 15px;
    height: auto;
    max-width: 100%;
}
.country-region select {
	width:200px;
}
.body .page-content {
	background:var(--light1);
	min-height:calc(100vh - 70px);
}
.body.dark .page-content {
	background:var(--dark2)
}
.toggle-mode {
	cursor:pointer;
}
.country-list > .row, .country-details.row {
	margin-left:-30px;
	margin-right: -30px;
}
.country-list > .row [class*=col],
.country-details.row > [class*=col] {
	padding-left: 30px;
	padding-right: 30px
}
.country-name, span.title {
	font-weight:600;
}
.country-name {
	font-size:16px;
}
.body.dark .country-holder {
	background:var(--dark1); 
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.country-holder {
	background:var(--light2);
	margin-bottom:60px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
.flag {
	width:100%;
	border-radius: 5px 5px 0 0;
	height: 155px;
    background-size: cover !important;
}
.flag-mobile img {
	border-radius: 5px 5px 0 0;
}

.body.dark .btn-main, .body.dark .form-control {
	background:var(--dark1);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
	position: relative;
	z-index:1;
	color:#fff;
	border:0;
}
.body .btn-main, .body .form-control {
	background:var(--light2);
	box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
	position: relative;
	z-index:1;
	color:var(--dark1);
	border:0;
}
.body.dark .form-control {
	color:#fff;
}
.form-control:focus {
	background:var(--light2);
}
.body.dark .form-control:focus {
	background:var(--dark1);
}
.country-details {
	font-weight: 300
}
.country-details p,
.country-details {
    font-size: 16px;
    line-height: 24px;
}
.country-flag {
    border: 20px solid rgba(0,0,0,0.06);
    border-radius: 5px;
}

@media screen and (max-width:844px) {
	.header h5 {
	    font-size: 16px;
	} 
	.container {
		padding-left:30px;
		padding-right:30px;
	}
	.country-holder {
		margin-bottom:30px;
	}
	.country-search {
		margin-bottom:30px;
	}
	.country-search input {
		width:100%;
	}
	.country-flag {
		border:0;
		margin-bottom: 40px
	}
	.country-borders .title {
	    display: block;
	    margin-bottom: 20px;
	}
}
